<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        (click)="collapsed = !collapsed"
      >
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a routerLink="/" class="navbar-brand brand-color">To-do App</a>
    </div>

    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/add-task']" (click)="onSelect('add')"
            >Add a task</a
          >
        </li>
        <li>
          <a [routerLink]="['/display-all']" (click)="onSelect('display-all')"
            >All tasks</a
          >
        </li>

        <li>
          <a (click)="onSaveData()" style="cursor: pointer;">Save Data</a>
        </li>

        <li>
          <a
            [routerLink]="['/login']"
            (click)="onSelect('display-all')"
            *ngIf="!loggedIn; else logout"
            >Login</a
          >

          <ng-template #logout>
            <a (click)="onLogout()" style="cursor: pointer;">Logout</a>
          </ng-template>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="loggedIn">
        <li>
          <a>
            Welcome, <span>{{ user }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
