<div class="row row-container">
  <div class="col-sm-4">
    <div class="row-group">
      <span
        class="glyphicon glyphicon-ok"
        style="cursor: pointer;"
        (click)="onUncompleteTask()"
      ></span>
      <p style="margin-left: 20px;">
        {{ completedTask.title | shortenText: 64 }}
      </p>
    </div>
  </div>

  <div class="col-sm-4 field-container">
    <p>{{ completedTask.dateObj | customDate }}</p>
  </div>

  <div class="col-sm-4 field-container button-container">
    <p style="cursor: pointer;" (click)="onClickEditTask()">
      <span class="glyphicon glyphicon-pencil icon-holder"></span>Edit
    </p>

    <p
      class="button-field"
      style="cursor: pointer;"
      (click)="onClickDeleteTask()"
    >
      <span class="glyphicon glyphicon-trash icon-holder"></span>Delete
    </p>
  </div>
</div>
