.row-container {
  display: flex;
  align-items: center;
}

.go-to-login-text {
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.invalidInput {
    border: 1px solid red;
}